<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark">
    <div class="container-fluid mx-3">
      <a class="navbar-brand" routerLink="home">
          <img class="icon-size" src="assets/images/logo.png" alt="logo"
      /></a>


        <div class="d-flex justify-content-between ">
          <div class=" ms-auto">
            <button type="button" class="btn btn-outline-light mx-2" routerLink="login" routerLinkActive="active-link">Login</button>
            <button type="button" class="btn btn-outline-light mx-2" routerLink="register" routerLinkActive="active-link">New acount</button>
          </div>
        </div>
      </div>

  </nav>
