<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark">
  <div class="container-fluid mx-3">
    <a class="navbar-brand" routerLink="home">
        <img class="icon-size" src="assets/images/logo.png" alt="Logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link cr" routerLinkActive="active-link" routerLink="home" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cr" routerLinkActive="active-link" routerLink="categories" >categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cr" routerLinkActive="active-link" routerLink="brands" >brands</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cr" routerLinkActive="active-link" routerLink="card" >card</a>
          </li>
      </ul>
      <div class="d-flex justify-content-between w-100">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
       <div class="d-flex">
        <button type="button" class="btn btn-outline-light mx-2">Login</button>
        <button type="button" class="btn btn-outline-light mx-2">Signout</button>
       </div>
      </div>
    </div>
</div>
</nav>
